---
import "../styles/global.css";
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
---

<Layout title="About the project">
    <Header />
<h1>About the project</h1>

<p>Project to bring together people willing to learn with people willing to teach</p>
</Layout>