---
import "../styles/global.css";
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
---

<Layout title="Apuntes">
    <Header />
<h1>Apuntes</h1>

<p>Apuntes</p>
</Layout>