---
import "../styles/global.css";
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";

const subjects = await getCollection('subject');
---

<Layout title="CLASES">
    <div class="fixed inset-0 -z-20 h-full w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] opacity-20"></div>
    <div class="fixed inset-0 -z-20 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)] opacity-15"></div>
    <Header />
    <div class="before:absolute before:inset-0 before:bg-gradient-to-b before:from-white/70 before:to-transparent before:pointer-events-none">
    </div>
    <h1 class="text-center text-4xl font-bold my-8">CLASES</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 p-4">
        {subjects.map((subject) => (
            <div class="rounded-lg shadow-lg overflow-hidden">
                <img src={subject.data.img} alt={subject.data.title} class="w-full h-48 object-cover" />
                <div class="p-4">
                    <h2 class="text-xl font-semibold">{subject.data.title}</h2>
                    <p class="text-gray-600">{subject.data.description}</p>
                </div>
            </div>
        ))}
    </div>
</Layout>