---
import "../styles/global.css";
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
---

<Layout title="CLASES">
    <Header />
<h1>CLASES</h1>

<p>CLASES</p>
</Layout>