---
import "../styles/global.css";
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
---

<Layout title="CURSOS">
    <Header />
<h1>CURSOS</h1>

<p>CURSOS</p>
</Layout>