---
import "../styles/global.css";
import { getCollection } from 'astro:content';
import Header from '../components/header.astro';
import Layout from '../layouts/Layout.astro';
import Button from "../components/button.astro";

const subject = await getCollection('subject').catch(() => []);
---

<Layout title="Particular Class">
    <Header />
<nav 
    class="flex flex-row items-center justify-center gap-20 w-full text-center">
    <Button title="Clases" site="/clases"></Button>
    <Button title="Cursos" site="/cursos"></Button>
    <Button title="Información" site="/info"></Button>
    <Button title="Apuntes" site="/apuntes"></Button>
</nav>
</Layout>
