---
import "../styles/global.css";
import { getCollection } from 'astro:content';
import Layout from "../layouts/Layout.astro";
import Header from "../components/header.astro";
---

<Layout title="INFO">
    <Header />
<h1>INFO</h1>

<p>INFO</p>
</Layout>