---
const{title, site} = Astro.props;
---

<a class="bg-gradient-to-r from-pink-500 to-violet-500 transition delay-50 duration-250 ease-in-out hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 rounded-lg p-1.5 w-30 text-center block" href={site}>{title}</a>