---
console.log("javascript");
---

<header class="flex flex-col gap-0.5 px-4 py-2 mx-auto max-w-xl lg:px-6 text-center">
    <h2 class="text-5xl font-extrabold bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent">
        PARTICOOLAR
    </h2>
    <p class="text-2xl font-extrabold text-gray-500 dark:text-gray-400">
        clases, cursos y talleres
    </p>
</header>