---
// filepath: c:\Users\diego\particular-classes\src\components\header.astro
console.log("javascript");
---

<div class="sticky top-0 z-50 w-full">
    <header class="flex flex-col gap-0.5 px-4 py-2 mx-auto max-w-xl lg:px-6 text-center rounded-xl backdrop-blur-sm bg-gradient-to-r from-purple-400/10 to-purple-600/10">
        <h2 class="text-5xl font-extrabold bg-gradient-to-r from-pink-500 to-violet-500 bg-clip-text text-transparent">
            PARTICOOLAR
        </h2>
        <p class="text-2xl font-extrabold text-gray-500 dark:text-gray-400">
            clases, cursos y talleres
        </p>
    </header>
</div>
